* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
}

.banner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #515151;
    width: 34vw;
    height: 10vh;
    margin-top: 2.5vh;
    padding-top: 0.2vh;
    text-align: center;
    font-size: 4vw;
    color: white;
    border: 0.2vw inset #838483;
}

.container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(235, 235, 235, 1) 44%, rgba(144, 144, 144, 1) 96%);
    width: 45vw;
    height: 100vh;
}

.back {
    position: absolute;
    top: 15%;
    left: 7.5%;
    height: 100vh;
    width: 85%;
    background: linear-gradient(180deg, rgba(156, 156, 156, 1) 0%, rgba(83, 83, 83, 1) 100%);
    border: 0.25vw solid #d0d0d0;
}

.front {
    position: absolute;
    top: 3%;
    left: 4%;
    height: 90vh;
    width: 92%;
    background: linear-gradient(180deg, rgba(156, 156, 156, 1) 0%, rgba(83, 83, 83, 1) 100%);
    border: 0.18vw groove #b6b6b6;
}

.bord {
    position: absolute;
    top: 82.95%;
    left: -4.5%;
    height: 7vh;
    width: 109%;
    background: linear-gradient(0deg, rgba(128, 128, 128, 1) 76%, rgba(240, 240, 240, 1) 100%);
    border: none;
    border-bottom: 0.25vw solid #212120;
}

.shadow {
    position: absolute;
    top: -867.5%;
    left: 10%;
    background: #535353;
    height: 45vh;
    width: 60%;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

.bordMonitor {
    position: absolute;
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    background: linear-gradient(0deg, rgba(86, 86, 86, 1) 1%, rgba(218, 218, 218, 1) 3%, rgba(99, 100, 99, 1) 6%, rgba(192, 192, 192, 1) 14%, rgba(105, 106, 105, 1) 22%, rgba(218, 218, 218, 1) 26%, rgba(125, 126, 125, 1) 100%);
    height: 45vh;
    width: 100%;
}

.monitor {
    position: absolute;
    left: 12%;
    top: -1.5%;
    clip-path: polygon(5% 0, 85% 0, 90% 100%, 0% 100%);
    background: linear-gradient(192deg, rgba(31, 31, 31, 1) 19%, rgba(96, 96, 96, 1) 63%, rgba(96, 96, 96, 1) 100%);
    height: 30vh;
    width: 84%;
    color: white;
    overflow-y:scroll;
    padding-left: 1.5vw;
    padding-right: 2vw;
}

#monitor{
    font-size: 3vw;
    word-break: break-word;
}

.procedure {
    position: absolute;
    top: -867.5%;
    left: 70%;
    width: 23%;
    height: 45vh;
    clip-path: polygon(0 0, 0 25%, 0 38%, 0 50%, 0 67%, 0 100%, 11% 100%, 34% 100%, 85% 100%, 91% 85%, 95% 72%, 97% 55%, 97% 41%, 95% 24%, 91% 11%, 85% 0, 71% 0, 26% 0%);
    background: linear-gradient(0deg, rgba(62, 62, 61, 1) 0%, rgba(95, 95, 95, 1) 6%, rgba(192, 192, 192, 1) 28%, rgba(216, 216, 216, 1) 50%, rgba(135, 136, 135, 1) 100%);
}

.button {
    position: absolute;
    top: 50%;
    left: 1vw;
    background: #535353;
    color: white;
    border-radius: 5px;
    width: 6vw;
    height: fit-content;
    margin-right: 25%;
}

h3{
    font-size: 1.5vw;
}

.button:hover{
    background: white;
    color: black;
}

.ceil {
    position: absolute;
    top: -1133.5%;
    left: 4%;
    width: 92%;
    height: 17.5vh;
    background: #686968;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 10% 100%);
}

.light {
    position: absolute;
    top: 20%;
    left: 12%;
    width: 76%;
    height: 10vh;
    background: #ffffff;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 10% 100%);
}


.text {
    position: absolute;
    top: -183%;
    resize: none;
    border-color: transparent;
    outline: none;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    clip-path: polygon(10% 0, 85% 0, 95% 100%, 0% 100%);
    width: 105%;
    height: 12vh;
    background: linear-gradient(180deg, rgba(128, 128, 128, 1) 28%, rgba(240, 240, 240, 1) 100%);
    border: none;
}

::placeholder {
    color: black;
    opacity: 0.7;
}

:root {
    --neon-main: #F7F3F7;
    --neon-shadow: rgba(153, 210, 208, 1);
    --neon-main-glitch: #F7F3F7c2;
    --neon-text-glitch: #F7F3F788;
    --neon-shadow-glitch: rgba(153, 210, 208, 0.76);
}

.neon-btn {
    background-color: white;
    color: var(--neon-main);
    border: none;
    box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
    height: 50px;
    padding: 5px 25px;
    text-shadow: 0 0 5px var(--neon-shadow);
    transition: box-shadow .25s ease;
    animation: neon-text-glitch 3s steps(1) infinite, neon-border-glitch 4.5s steps(1) infinite;
}

@keyframes neon-border-glitch {
    0% {
        box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
    }

    50% {
        box-shadow: 0px 0px 25px 5px var(--neon-shadow-glitch), inset 0px 0px 25px 5px var(--neon-shadow-glitch);
    }

    55% {
        box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
    }

    100% {
        box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
    }
}